In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dfbasics').getOrCreate() #como solo puede haber una instancia de spark corriend
#si no la hay la crea

In [2]:
spark

In [3]:
df = spark.read.parquet('example.parquet') #aún no lo ha leído realmente

In [4]:
df.show()

+------+----------------+--------------+----------+-------+------------+-------------------+------------+----------+-----------+--------+--------+----+-------+------+----------+-----------------+
|timeID|        deviceID|      ClientID|      date|sensors|  macaddress|          timestamp|lostPackages|transferid|temperature|humidity|pressure|rssi|battery|battid|   battime|__index_level_0__|
+------+----------------+--------------+----------+-------+------------+-------------------+------------+----------+-----------+--------+--------+----+-------+------+----------+-----------------+
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|e8ef608545bd|1.602547554622682E9|           0|       241|       4050|      25| 9530158| -86|   2974|    22|1602319364|                0|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|cee054e51972|1.602547554622682E9|           0|        22|       2403|      45| 9522478| -79|   2805|    24|1602492324|                1|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|cc282299f903|1.602547554622682E9|           0|        63|       2490|      43| 9500185| -88|   2854|    20|1602146661|                2|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|c951484e7557|1.602547554622682E9|           0|        72|       3538|      27| 9512326| -88|   2875|    23|1602405817|                3|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|e0dd5d2685d6|1.602547554622682E9|           0|       166|       2315|      48| 9488159| -92|   2789|    24|1602492285|                4|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|eb4ff49b6856|1.602547554622682E9|           0|       134|       4349|      20| 9507795| -91|   3002|    24|1602492087|                5|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|d87a0caedc19|1.602547554622682E9|           0|       148|       3500|      27| 9495300| -87|   2898|    24|1602492076|                6|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|dc39dd91e92e|1.602547554622682E9|           0|        85|       3575|      27| 9503161| -84|   2922|    24|1602492112|                7|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|daa529e8ad85|1.602547554622682E9|           0|       144|       2957|      35| 9490492| -71|   2901|    24|1602491871|                8|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|d9f3ed813ee7|1.602547554622682E9|           0|         2|       3044|      35| 9493051| -67|   2894|    24|1602491940|                9|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|df531c3f8505|1.602547554622682E9|           0|       107|       2757|      38| 9476594| -74|   2887|    24|1602491990|               10|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|f3526cfd8a6e|1.602547554622682E9|           0|        34|       3385|      29| 9497660| -82|   2925|    24|1602492052|               11|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|e4baaebc5411|1.602547554622682E9|           0|       215|       3036|      33| 9482565| -89|   2799|    24|1602492351|               12|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|da054930b590|1.602547554622682E9|           0|       190|       3568|      27| 9485288| -76|   2921|    24|1602492036|               13|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|e9400a42da62|1.602547554622682E9|           0|       170|       3604|      26| 9488103| -75|   2921|    24|1602492041|               14|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|fa3ba8e127f5|1.602547554622682E9|           0|       221|       2427|      44| 9493832| -90|   2765|    24|1602492250|               15|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|c3ed028fcacf|1.602547554622682E9|           0|       100|       2284|      48| 9475917| -83|   2790|    24|1602492289|               16|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|c12ceb212ae0|1.602547554622682E9|           0|        94|       2494|      40| 9478991| -93|   2782|    24|1602492322|               17|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|fe707b16ef38|1.602547554622682E9|           0|       138|       2953|      34| 9480578| -79|   2800|    24|1602492332|               18|
| 02:00|8B45C243B7C7B3E5|interxionpilot|13/10/2020|     65|e5f74f627a48|1.602547554622682E9|           0|        26|       2440|      42| 9481943| -78|   2831|    24|1602492341|               19|
+------+----------------+--------------+----------+-------+------------+-------------------+------------+----------+-----------+--------+--------+----+-------+------+----------+-----------------+
only showing top 20 rows

In [5]:
df.columns

['timeID',
 'deviceID',
 'ClientID',
 'date',
 'sensors',
 'macaddress',
 'timestamp',
 'lostPackages',
 'transferid',
 'temperature',
 'humidity',
 'pressure',
 'rssi',
 'battery',
 'battid',
 'battime',
 '__index_level_0__']

In [6]:
df.printSchema() #dataframes=tabla excel con fila de arriba nombres de cada columna y cada fila un registro con un
#valor para cada columna
#cada columna tiene un tipo asociado: nombre con su tipo forma un esquema
#en parchet se guarda el esquema

root
 |-- timeID: string (nullable = true)
 |-- deviceID: string (nullable = true)
 |-- ClientID: string (nullable = true)
 |-- date: string (nullable = true)
 |-- sensors: long (nullable = true)
 |-- macaddress: string (nullable = true)
 |-- timestamp: double (nullable = true)
 |-- lostPackages: long (nullable = true)
 |-- transferid: long (nullable = true)
 |-- temperature: long (nullable = true)
 |-- humidity: long (nullable = true)
 |-- pressure: long (nullable = true)
 |-- rssi: long (nullable = true)
 |-- battery: long (nullable = true)
 |-- battid: long (nullable = true)
 |-- battime: long (nullable = true)
 |-- __index_level_0__: long (nullable = true)

Sacar id del dispositivo con su temperatura y humedad

In [9]:
df.select(['deviceID','temperature','humidity']).show()
df.select(['deviceID','temperature','humidity']).count()

+----------------+-----------+--------+
|        deviceID|temperature|humidity|
+----------------+-----------+--------+
|8B45C243B7C7B3E5|       4050|      25|
|8B45C243B7C7B3E5|       2403|      45|
|8B45C243B7C7B3E5|       2490|      43|
|8B45C243B7C7B3E5|       3538|      27|
|8B45C243B7C7B3E5|       2315|      48|
|8B45C243B7C7B3E5|       4349|      20|
|8B45C243B7C7B3E5|       3500|      27|
|8B45C243B7C7B3E5|       3575|      27|
|8B45C243B7C7B3E5|       2957|      35|
|8B45C243B7C7B3E5|       3044|      35|
|8B45C243B7C7B3E5|       2757|      38|
|8B45C243B7C7B3E5|       3385|      29|
|8B45C243B7C7B3E5|       3036|      33|
|8B45C243B7C7B3E5|       3568|      27|
|8B45C243B7C7B3E5|       3604|      26|
|8B45C243B7C7B3E5|       2427|      44|
|8B45C243B7C7B3E5|       2284|      48|
|8B45C243B7C7B3E5|       2494|      40|
|8B45C243B7C7B3E5|       2953|      34|
|8B45C243B7C7B3E5|       2440|      42|
+----------------+-----------+--------+
only showing top 20 rows

177573

Resumen datos:

In [12]:
#df.describe().show() #análisis rápido de algunos valores fundamentales
df.select(['deviceID','temperature','humidity']).describe().show()

+-------+----------------+-----------------+-----------------+
|summary|        deviceID|      temperature|         humidity|
+-------+----------------+-----------------+-----------------+
|  count|          177573|           177573|           177573|
|   mean|            null|3152.144503950488|34.26563159939856|
| stddev|            null| 547.001543888544|8.158827807674266|
|    min|8B45C243B7C7B3E5|             2243|               19|
|    max|8B45C243B7C7B3E5|             4496|               61|
+-------+----------------+-----------------+-----------------+

In [20]:
df.select(['macaddress','temperature']).groupBy('macaddress').max().count() #max convierte group by a dataframe
#65 sensores generan miles de datos

65

Buscar el máximo valor de cada sensor

In [21]:
df.select(['macaddress','temperature']).groupBy('macaddress').max().show()
#4030=40,30º

+------------+----------------+
|  macaddress|max(temperature)|
+------------+----------------+
|c951484e7557|            4030|
|cc61f1ebf476|            2946|
|e8ef608545bd|            4461|
|d5e45039e20a|            2895|
|d518d54a08ab|            4265|
|fa063d968f37|            3488|
|dd25c245985e|            4037|
|dd5ab6058a08|            4496|
|fa3ba8e127f5|            3343|
|f5d0f7e4a20d|            4248|
|c018119e2e62|            3873|
|df531c3f8505|            3832|
|f91c09c33cba|            3400|
|f259178143b9|            4098|
|dc39dd91e92e|            4181|
|e8c4b001d373|            4373|
|e5f74f627a48|            4066|
|c46d329c4a59|            3748|
|fe707b16ef38|            3081|
|ca960bef2cab|            4160|
+------------+----------------+
only showing top 20 rows

In [22]:
df.select(['macaddress','temperature']).groupBy('macaddress').min().show()

+------------+----------------+
|  macaddress|min(temperature)|
+------------+----------------+
|c951484e7557|            2284|
|cc61f1ebf476|            2679|
|e8ef608545bd|            2393|
|d5e45039e20a|            2670|
|d518d54a08ab|            2288|
|fa063d968f37|            2306|
|dd25c245985e|            2377|
|dd5ab6058a08|            2928|
|fa3ba8e127f5|            2284|
|f5d0f7e4a20d|            2320|
|c018119e2e62|            2503|
|df531c3f8505|            2305|
|f91c09c33cba|            2243|
|f259178143b9|            2280|
|dc39dd91e92e|            2284|
|e8c4b001d373|            2333|
|e5f74f627a48|            2352|
|c46d329c4a59|            3015|
|fe707b16ef38|            2290|
|ca960bef2cab|            2285|
+------------+----------------+
only showing top 20 rows

In [23]:
df.select(['macaddress','temperature','humidity']).groupBy('macaddress').min().show()

+------------+----------------+-------------+
|  macaddress|min(temperature)|min(humidity)|
+------------+----------------+-------------+
|c951484e7557|            2284|           22|
|cc61f1ebf476|            2679|           36|
|e8ef608545bd|            2393|           20|
|d5e45039e20a|            2670|           37|
|d518d54a08ab|            2288|           24|
|fa063d968f37|            2306|           30|
|dd25c245985e|            2377|           25|
|dd5ab6058a08|            2928|           19|
|fa3ba8e127f5|            2284|           29|
|f5d0f7e4a20d|            2320|           21|
|c018119e2e62|            2503|           24|
|df531c3f8505|            2305|           27|
|f91c09c33cba|            2243|           28|
|f259178143b9|            2280|           23|
|dc39dd91e92e|            2284|           24|
|e8c4b001d373|            2333|           21|
|e5f74f627a48|            2352|           25|
|c46d329c4a59|            3015|           26|
|fe707b16ef38|            2290|           33|
|ca960bef2cab|            2285|           22|
+------------+----------------+-------------+
only showing top 20 rows

máximo de temp y mínimo de humedad

In [26]:
df.select(['macaddress','temperature','humidity']).groupBy('macaddress')\
    .agg({'temperature':'max', 'humidity':'min'}).show()

+------------+----------------+-------------+
|  macaddress|max(temperature)|min(humidity)|
+------------+----------------+-------------+
|c951484e7557|            4030|           22|
|cc61f1ebf476|            2946|           36|
|e8ef608545bd|            4461|           20|
|d5e45039e20a|            2895|           37|
|d518d54a08ab|            4265|           24|
|fa063d968f37|            3488|           30|
|dd25c245985e|            4037|           25|
|dd5ab6058a08|            4496|           19|
|fa3ba8e127f5|            3343|           29|
|f5d0f7e4a20d|            4248|           21|
|c018119e2e62|            3873|           24|
|df531c3f8505|            3832|           27|
|f91c09c33cba|            3400|           28|
|f259178143b9|            4098|           23|
|dc39dd91e92e|            4181|           24|
|e8c4b001d373|            4373|           21|
|e5f74f627a48|            4066|           25|
|c46d329c4a59|            3748|           26|
|fe707b16ef38|            3081|           33|
|ca960bef2cab|            4160|           22|
+------------+----------------+-------------+
only showing top 20 rows

Coger los sensores con las temperaturas más altas

In [31]:
df.groupBy('macaddress').max().select('max(temperature)').alias('maxt').show()

+----------------+
|max(temperature)|
+----------------+
|            4030|
|            2946|
|            4461|
|            2895|
|            4265|
|            3488|
|            4037|
|            4496|
|            3343|
|            4248|
|            3873|
|            3832|
|            3400|
|            4098|
|            4181|
|            4373|
|            4066|
|            3748|
|            3081|
|            4160|
+----------------+
only showing top 20 rows

GroupBy agrupa los campos ofreciendo un solo registro de cada sensor

In [32]:
#para obtener el mmayor hacer un orderby
res=df.select(['macaddress','temperature']).groupBy('macaddress').max()
res.orderBy(res['max(temperature)']).show() #columna de max temperature, df no tenía columna max temperature
#va de menor a mayor

+------------+----------------+
|  macaddress|max(temperature)|
+------------+----------------+
|d5e45039e20a|            2895|
|cc61f1ebf476|            2946|
|f13893f6f9d3|            2977|
|ca93cd7147b9|            2980|
|fe707b16ef38|            3081|
|c586984cc562|            3110|
|dd8b42b574c9|            3316|
|ffaba11c7636|            3326|
|fa3ba8e127f5|            3343|
|e0dd5d2685d6|            3381|
|c4cf3b7eaf38|            3383|
|f91c09c33cba|            3400|
|e4bd46c32086|            3419|
|e682eb3da011|            3452|
|c12ceb212ae0|            3462|
|df02fbbbc328|            3482|
|d20e92ecef8d|            3484|
|fa063d968f37|            3488|
|daa529e8ad85|            3491|
|cee054e51972|            3506|
+------------+----------------+
only showing top 20 rows

In [33]:
res.orderBy(res['max(temperature)'].desc()).show()

+------------+----------------+
|  macaddress|max(temperature)|
+------------+----------------+
|dd5ab6058a08|            4496|
|e8ef608545bd|            4461|
|eb4ff49b6856|            4408|
|e8c4b001d373|            4373|
|d58914b878f1|            4354|
|ce6a182a63ce|            4350|
|c9a31a0afd92|            4308|
|d518d54a08ab|            4265|
|f5d0f7e4a20d|            4248|
|e67b59437937|            4200|
|dc39dd91e92e|            4181|
|fcd6f32c9df6|            4178|
|ca960bef2cab|            4160|
|f9cb43549434|            4111|
|f259178143b9|            4098|
|dde8dfe906f1|            4083|
|cc31d1ec2f35|            4077|
|d1433512b484|            4071|
|e5f74f627a48|            4066|
|fc74ed579ebb|            4050|
+------------+----------------+
only showing top 20 rows

In [36]:
#cuantos equipos por encima de 27º/40º hay
res.orderBy(res['max(temperature)'].desc()).filter(res['max(temperature)']>4000).count() #filter=where
res.orderBy(res['max(temperature)'].desc()).where(res['max(temperature)']>4000).count()

25

In [37]:
res.orderBy(res['max(temperature)'].desc()).where(res['max(temperature)']>4300).show()

+------------+----------------+
|  macaddress|max(temperature)|
+------------+----------------+
|dd5ab6058a08|            4496|
|e8ef608545bd|            4461|
|eb4ff49b6856|            4408|
|e8c4b001d373|            4373|
|d58914b878f1|            4354|
|ce6a182a63ce|            4350|
|c9a31a0afd92|            4308|
+------------+----------------+

In [38]:
#cuáles son los que no son mayores de..
res.where(~(res['max(temperature)']>4300)).show()

+------------+----------------+
|  macaddress|max(temperature)|
+------------+----------------+
|c951484e7557|            4030|
|cc61f1ebf476|            2946|
|d5e45039e20a|            2895|
|d518d54a08ab|            4265|
|fa063d968f37|            3488|
|dd25c245985e|            4037|
|fa3ba8e127f5|            3343|
|f5d0f7e4a20d|            4248|
|c018119e2e62|            3873|
|df531c3f8505|            3832|
|f91c09c33cba|            3400|
|f259178143b9|            4098|
|dc39dd91e92e|            4181|
|e5f74f627a48|            4066|
|c46d329c4a59|            3748|
|fe707b16ef38|            3081|
|ca960bef2cab|            4160|
|cee054e51972|            3506|
|da054930b590|            3655|
|e682eb3da011|            3452|
+------------+----------------+
only showing top 20 rows

In [41]:
#combinar distintas propiedades
res.where((res['max(temperature)'] >2700) & ~(res['max(temperature)']>4000)).show()

+------------+----------------+
|  macaddress|max(temperature)|
+------------+----------------+
|cc61f1ebf476|            2946|
|d5e45039e20a|            2895|
|fa063d968f37|            3488|
|fa3ba8e127f5|            3343|
|c018119e2e62|            3873|
|df531c3f8505|            3832|
|f91c09c33cba|            3400|
|c46d329c4a59|            3748|
|fe707b16ef38|            3081|
|cee054e51972|            3506|
|da054930b590|            3655|
|e682eb3da011|            3452|
|ee083dc954fc|            3642|
|c641d75fbf4d|            3628|
|faa4319d9523|            3877|
|e7d9376a8bcb|            3697|
|c4cf3b7eaf38|            3383|
|e6021d994ae0|            3904|
|f3526cfd8a6e|            3883|
|daa529e8ad85|            3491|
+------------+----------------+
only showing top 20 rows

In [42]:
df.select(['macaddress','temperature']).groupBy('macaddress').max().withColumnRenamed('max(temperature)','maxT').show()
#cambiar nombre columna y poner dataframe con columna cambiada

+------------+----+
|  macaddress|maxT|
+------------+----+
|c951484e7557|4030|
|cc61f1ebf476|2946|
|e8ef608545bd|4461|
|d5e45039e20a|2895|
|d518d54a08ab|4265|
|fa063d968f37|3488|
|dd25c245985e|4037|
|dd5ab6058a08|4496|
|fa3ba8e127f5|3343|
|f5d0f7e4a20d|4248|
|c018119e2e62|3873|
|df531c3f8505|3832|
|f91c09c33cba|3400|
|f259178143b9|4098|
|dc39dd91e92e|4181|
|e8c4b001d373|4373|
|e5f74f627a48|4066|
|c46d329c4a59|3748|
|fe707b16ef38|3081|
|ca960bef2cab|4160|
+------------+----+
only showing top 20 rows

In [43]:
#crear tabla SQL que corresponde a ese dataframe
df.createOrReplaceTempView('data')

In [47]:
#a esa tabla le podemos hacer queries
spark.sql('SELECT macaddress,temperature,humidity FROM data WHERE temperature > 2900').show()

+------------+-----------+--------+
|  macaddress|temperature|humidity|
+------------+-----------+--------+
|e8ef608545bd|       4050|      25|
|c951484e7557|       3538|      27|
|eb4ff49b6856|       4349|      20|
|d87a0caedc19|       3500|      27|
|dc39dd91e92e|       3575|      27|
|daa529e8ad85|       2957|      35|
|d9f3ed813ee7|       3044|      35|
|f3526cfd8a6e|       3385|      29|
|e4baaebc5411|       3036|      33|
|da054930b590|       3568|      27|
|e9400a42da62|       3604|      26|
|fe707b16ef38|       2953|      34|
|fa063d968f37|       3087|      34|
|c9a31a0afd92|       2943|      36|
|f13893f6f9d3|       2949|      36|
|d20e92ecef8d|       2919|      36|
|ffaba11c7636|       2936|      36|
|e67b59437937|       3535|      28|
|c542b0d96392|       3524|      28|
|d58914b878f1|       4103|      24|
+------------+-----------+--------+
only showing top 20 rows

Cuando faltan datos/valores

In [48]:
df.select('deviceID').show() #tiene NULLs

+----------------+
|        deviceID|
+----------------+
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
|8B45C243B7C7B3E5|
+----------------+
only showing top 20 rows

In [51]:
df.select('deviceID').describe().show()

+-------+----------------+
|summary|        deviceID|
+-------+----------------+
|  count|          177573|
|   mean|            null|
| stddev|            null|
|    min|8B45C243B7C7B3E5|
|    max|8B45C243B7C7B3E5|
+-------+----------------+

In [53]:
df.na.drop().count()
df.count() #no tiene nulls

177573

Si quitamos muestras con nulls a lo mejor nos quedamos con pocas muestras
si tiene nulls en una primera fase los nulls estropean todo tipo de entrenamiento

una cosa que se puede hacer es tirarlos =na.drop()

In [ ]:
df.na.drop(thresh=2) #los tira si hay al menos dos nulls

o se pueden rellenar .na.fill(0) con un 0 o lo que sea

en drop podemos poner subconjunto (subset) de columnas donde miramos los nulls.  
how(all) se quitan todas las null. Mirar documentación.