In [1]:
1+3

4

In [3]:
1/2 #python2 = 0; python3 =0.5

0.5

pyspark en vez de ejecutar python ejecuta jupyter con opción notebook

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Prueba').getOrCreate()
#si tenemos sesión spark abierta la cogerá, si no la crea

In [6]:
spark

In [7]:
mv /home/osboxes/Downloads/people.json /opt/spark/spark-3.0.1-bin-hadoop2.7/

In [9]:
df = spark.read.json('/opt/spark/spark-3.0.1-bin-hadoop2.7/people.json')

In [11]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df.columns

['age', 'name']

In [13]:
df['age']

Column<b'age'>

In [16]:
df.describe().show() #devuelve otro dataframe que podemos enseñar

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

no podemos cambiar propiedades de dataframe, se crea otro

In [18]:
df.select(['age']).show() #en un formato dataframe

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [22]:
print (type (df.select('age')))
type (df['age'])

<class 'pyspark.sql.dataframe.DataFrame'>

pyspark.sql.column.Column

In [27]:
df.head(2)[0][1] #es una lista

'Michael'

In [28]:
df.withColumn('newage',df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

añadir columna a dataframe= crear otro dataframe con columna modificada o no

In [29]:
df.withColumnRenamed('age', 'edad').show()

+----+-------+
|edad|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

convertir tablas en bases de datos SQL

In [38]:
df.createOrReplaceGlobalTempView('people')

In [40]:
spark.sql('SELECT * FROM people').show

AnalysisException: Table or view not found: people; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [people]

In [43]:
df.filter((df['age']<50) & (df['name'] =='Justin')).show() #mensajes de error muy feos si faltan paréntesis

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+